.button, .button:link, .button:active{
  text-decoration: none;
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 45%;
  min-width: 210px;
  /* height: 2.5rem; */
  padding: 0.5rem 1rem;
  height: auto;
  min-height: 3.0rem;
  color: #a7a7a7;
  margin: 0.28rem 0;
  background-color: black;
  text-align: center;

  /* background-image: url('../../assets/img/image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.button:hover {
  opacity: 0.9;
  color: #FFF;
}

.squad-circle {
  border-radius: 5px;
}

.circle {
  border-radius: 20px;
}

.squad {
  border-radius: 0;
}

.btn-image {
  text-decoration: none;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  min-width: 210px;
  height: 100px;
  background-color: #2D88FF;
  color: #FFF;
  margin: 0.4rem 0;
  /* background-image: url('../../assets/img/image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

#root > div > div > div > div.button-list > a.btn-image.squad-circle {
  text-decoration: none;
}