.AvatarPM {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 29%;
}

.AvatarPM > p {
  text-align: center;
  word-wrap: normal;
  font-size: 1em;
  font-weight: 600;
}

.image {
  position: relative;
  width: 140px;
  height: 140px;
  /* width: 28vw;
  height: 28vw;
  max-width: 110px;
  max-height: 110px; */
  border-radius: 100%;
}

.avatar-image {
  display: flex;
  justify-content: center;
  align-items: center;
}