::-webkit-scrollbar {
  width: 0px;
}

.body {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  min-height: 100vh;
}

.container-page {
  display: grid;
  grid-template-areas: 
    "header"
    "content"
    "footer"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 
    auto 
    1fr 
    50px;
  flex-direction: column;
  width: 700px;
  min-width: 250px;
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 120px;
  margin-top: 30px;
}

.image {
  position: relative;
  max-height: 6rem;
  max-width: 6rem;
  border-radius: 100%;
}

.avatar-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  min-width: 80px;
}

.button-list {
  grid-area: content;
  display: flex;
  white-space: normal;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.button, .button:link, .button:active{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 2.5rem;
  text-decoration: none;
  color: #a7a7a7;
  margin: 0.28rem 0;
  background-color: black;
  /* background-image: url('../../assets/img/image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.button:hover {
  opacity: 0.8;
  color: #FFF;
}

.squad-circle {
  border-radius: 5px;
}

.circle {
  border-radius: 20px;
}

.squad {
  border-radius: 0;
}

.btn-image {
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width:90%;
  height: 100px;
  background-color: blue;
  text-decoration: none;
  color: #FFF;
  margin: 0.4rem 0;
  background-image: url('../../assets/img/image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
.footer {
  display: grid;
  grid-area: footer;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3fr;
} 

