.red {
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 0px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
}

.container-page {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 
    auto 
    1fr 
    50px;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-width: 250px;
}

.button-list {
  grid-area: content;
  display: flex;
  white-space: normal;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
